#header {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45vmin;
  height: 75vmin;
  
  background-color: lightgray;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
}
