:root {
  --dark-color: #333333;
  --yellow-color: #f7f235;
  --light-color: #efefef;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-color);
  color: var(--dark-color);

  width: 100%;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  justify-content: start;
  align-items: flex-end;

  width: 45vmin;
  height: 75vmin;

  border-radius: 1rem;
  margin: 0.5rem;
}

.article p {
  color: white;
  margin-bottom: 2.5vmin;
  margin-left: 1vmin;
  font-size: 1.25em;
}

.image-container {
  z-index: -99;
  overflow: hidden;
  position: relative;
}