:root {
  --dark-color: #333333;
  --yellow-color: #f7f235;
  --light-color: white;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow-color);
  color: var(--dark-color);

  width: 100%;
}

#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45vmin;
  height: 75vmin;

  background-color: var(--light-color);
  border-radius: 1rem;
  margin: 0.5rem;
}

.article p {
}
